.landing-page-shop-coffee {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    color: white;
    width: 100%;
    text-align: left;

}

.images-and-text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.image-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.image {
    width: 298px;
    margin-bottom: 19px;
    height: 310px;
}

.image2 {
    width: 298px;
    margin-bottom: 20px;
}

.text-section {
    max-width: 510px;
    background: #1C1814;
    padding: 20px;
    height: 635px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-family: 'Urbanist',sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    text-align: left;
    color: #C99E71;
}

.subtitle {
    font-family: 'Righteous',sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 62.4px;
    text-align: left;

}

.description {
    font-size: 16px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    line-height: 28.8px;
    text-align: left;

}
